.container-projetos {
    min-height: 100vh;
    color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.container-projetos .title {
    font-size: 40px;
}

.cards-projetos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cards-projetos .card-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    transform: translateY(1000px);
    opacity: 0;
}

.card-projeto h3 {
    margin-bottom: 5px;
}

.card-projeto .container-card-filho-projeto {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.card-projeto .imagem-projeto {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card-projeto .card-infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 10px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    font-weight: 500;
}

.links-github-e-projeto {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.link-do-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #000;
}

.links-github-e-projeto .link-do-card:hover {
    color: #333380;
}


@media (max-width: 810px) {
    .container-projetos {
        padding: 20px 10px;
    }
}

@media (max-width: 540px) {
    .cards-projetos .card-projeto {
        width: 290px;
    }
}