#root {
    position: relative;
    background-color: #d8e5ff;
    
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    object-position: center;
    z-index: -2;
}