#root {
    position: relative;
    background-color: #232328;
    background-image: url(../public/images/dark-grunge-style-scratched-metal-surface.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    object-position: center;
    z-index: -2;
}