#root {
    position: relative;
    background-color: #232328;
    background-image: url(./images/Hazy_black_ink_texture_with_brushstrokes.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    object-position: center;
    z-index: -2;
}